*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF8DC;
}

.header {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: red;
}

.mainpage {
    text-align: center;
    flex: 1;
    width: 100%;
    gap: 10px;
}

#add-book {
    padding: 10px;
}

.section1 {
    height: 90%;
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 60px;
}

.section1>br {
    background-color: red;
}

#section1 {
    display: flex;
}

.form {
    width: 40%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box>input {
    width: 150px;
    margin: 4px 0;
    border: none;
    border-bottom: 2px solid black;
    /* border-radius: 6px; */
    background-color: #FFF8DC;
    font-size: 1.3rem;
}

.form-box,
.form-box-radio {
    font-size: 2rem;
}

#book-form>button {
    background-color: red;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: .4s;
    margin-top: 5px;
}

#book-form>button:hover {
    background-color: #FFF8DC;
    color: black;
    border: 3px solid red;
}

#book-form {
    border: 6px solid black;
    border-radius: 5px;
    padding: 10px;
}

.cards {
    background-color: lightgray;
    font-size: 1.8rem;
    padding: 7px;
    border: 2px solid black;
    border-radius: 8px;
    height: max-content;
}

.panel {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

#delBtn {
    background-color: lightgray;
    padding: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;

}

.footer>a>img {
    height: 30px;
    width: 30px;
}

.footer>a>img:hover {
    height: 40px;
    width: 40px;
}

.footer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked+.slider {
    background-color: greenyellow;
}

input:checked+.slider::before {
    transform: translateX(1em);
}